<!--=== Breadcrumbs ===-->
    <div class="breadcrumbs">
        <div class="container">
            <h1 class="pull-left">FAQ</h1>
        </div>
    </div><!--/breadcrumbs-->
    <!--=== End Breadcrumbs ===-->
<!--=== FAQ Page ===-->
    <div class="container content faq-page">
        

        <!-- FAQ Content -->
        <div class="row">
            <!-- Begin Tab v1 -->
            <div class="col-md-6">
                <div class="tab-v1">
                    <ul class="nav nav-tabs margin-bottom-20">
                        <li class="active"><a data-toggle="tab" href="page_faq1.html#home">Frequently Asked Questions</a></li>
                        <li><a data-toggle="tab" href="page_faq1.html#profile">Definitions</a></li>
                    </ul>        
                    <div class="tab-content">
                        <!-- Tab Content 1 -->
                        <div id="home" class="tab-pane fade in active">
                            <div id="accordion-v1" class="panel-group acc-v1">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a href="page_faq1.html#collapse-One" data-parent="#accordion-v1" data-toggle="collapse" class="accordion-toggle">
                                                Why do I have to add bacteria to my septic system?
                                            </a>
                                        </h4>
                                    </div>
                                    <div class="panel-collapse collapse in" id="collapse-One">
                                        <div class="panel-body">
                                            Everyday use of products and chemicals destroy the highly specialized sewage digesting bacteria that are necessary for your septic system to function properly.It is as simple as that! No bacteria - no digestion.
                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a href="page_faq1.html#collapse-Two" data-parent="#accordion-v1" data-toggle="collapse" class="accordion-toggle">
                                                Can I use any type of bacteria in my septic system?
                                            </a>
                                        </h4>
                                    </div>
                                    <div class="panel-collapse collapse" id="collapse-Two">
                                        <div class="panel-body">
                                            No. There are bacteria all around you: on and inside your body and in the air but none of these will remove the waste from your septic system. Bacteria are highly specific. Most septic treatments are bacteria "enhancers" - they break sewage apart but do not eliminate it. These yeast-based additives can harm your septic system by allowing suspended solids and waste to flow into, overload and clog your septic system and drain field.
                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a href="page_faq1.html#collapse-Three" data-parent="#accordion-v1" data-toggle="collapse" class="accordion-toggle">
                                                Why The Septi-Cure?
                                            </a>
                                        </h4>
                                    </div>
                                    <div class="panel-collapse collapse" id="collapse-Three">
                                        <div class="panel-body">
                                            The Septi-Cure solution eliminates waste from the entire system and prevents septic systems, drain fields and grease traps from failing. Unlike any other septic product, The Septi-Cure's patented formula purifies a wide range of materials and toxins: urine, grease, soaps, fats, oils, petrochemicals and mold. The bacteria survive in the harshest of environments by forming a protective shell, becoming dormant under extreme temperatures and PH levels. When conditions are more favorable, they come back to life to work on your septic system!
                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a href="page_faq1.html#collapse-Four" data-parent="#accordion-v1" data-toggle="collapse" class="accordion-toggle">
                                                My drain field is blocked with solids, should I consider a new drain field?
                                            </a>
                                        </h4>
                                    </div>
                                    <div class="panel-collapse collapse" id="collapse-Four">
                                        <div class="panel-body">
                                            Only as a last resort.<br>
                                            <br>
                                            A drain field replacement is costly, temporary and typically lasts an average of only three to five years. When a drain field is replaced, due to limited land space, it is installed in close proximity to the old one. Excavation leaves behind contaminated biomaterial in the soil that accumulates over the years - these contaminants cause: illness, ground water contamination, clogs, odors, repeated drain field replacements and a many other problems. The Septi-Cure solution removes the contaminated biomaterial and permanently restores air and water flow to your drain field and septic system.<br>
                                            <br>
                                            To keep recurring septic problems at bay: shock your system and follow the treatment guide according to the symptoms that occurred before your drain field was replaced.
                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a href="page_faq1.html#collapse-Five" data-parent="#accordion-v1" data-toggle="collapse" class="accordion-toggle">
                                                How do I know whether The Septi-Cure Solution is working?
                                            </a>
                                        </h4>
                                    </div>
                                    <div class="panel-collapse collapse" id="collapse-Five">
                                        <div class="panel-body">
                                            The Septi-Cure bacteria enter the plumbing, and reach your drain field or soil within eight hours: They work 24/7 to keep your lines open and functioning and your entire septic system clean. You will know The Septi-Cure Solution is working because the septic problem symptoms will be gone!
                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a href="page_faq1.html#collapse-Six" data-parent="#accordion-v1" data-toggle="collapse" class="accordion-toggle">
                                                How fast does The Septi-Cure solution work?
                                            </a>
                                        </h4>
                                    </div>
                                    <div class="panel-collapse collapse" id="collapse-Six">
                                        <div class="panel-body">
                                            It is common to obtain results within the first week even though it can take years for the septic system to show signs of failure. Full results can take several weeks or more depending on the: soil type, age and type of septic system and household habits.
                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a href="page_faq1.html#collapse-Seven" data-parent="#accordion-v1" data-toggle="collapse" class="accordion-toggle">
                                                How can I maintain my septic system?
                                            </a>
                                        </h4>
                                    </div>
                                    <div class="panel-collapse collapse" id="collapse-Seven">
                                        <div class="panel-body">
                                            Do not pour anything into your plumbing or septic system that is not biodegradable! Examples of what to keep out of your system are: antibacterial soaps, hair, pet dander, , lint, ammonia, dental floss, cat litter, coffee grinds, tea leaves, chemical drain openers, lye, root killers, sulfuric acid, cleaning compounds, chlorine materials, disinfectants, lotions, hair dyes, polishes, sink and tub cleaners, dyes, toilet cleaners, paint, paint thinners, etc.<br>
                                            <br>
                                            Install lint and effluent filters to remove lint from your washer and drains. Periodically have your septic tank cleaned out to remove any non-biodegradable materials.<br>
                                            <br>
                                            Limit your water usage. Quickly fix any leaks. If possible, divert your washer away from your septic system by installing a separate system such as a drywell. Redirect surface water flow from patios, roof, and driveway away from your septic system.<br>
                                            <br>
                                            Keep your septic system clean by using The Septi-Cure solution once a month. It is easy! Just pour one cup down your commode and flush.
                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a href="page_faq1.html#collapse-Eight" data-parent="#accordion-v1" data-toggle="collapse" class="accordion-toggle">
                                                I have never had any septic problems but I would like to avoid my septic system from failing. What do you recommend?
                                            </a>
                                        </h4>
                                    </div>
                                    <div class="panel-collapse collapse" id="collapse-Eight">
                                        <div class="panel-body">
                                            If you have not shocked or cleaned out your septic system by applying a high dose of our beneficial bacteria, regardless of regular septic tank pump outs, there is unwanted buildup in the pipes, lines and drain field. For every 5 to 10 years that your property has aged, use one to two 2.5 gallon jugs of The Septi-Cure solution to shock your system. Double the dosage if you have clay soil or if your drinking water is from a well.
                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a href="page_faq1.html#collapse-Eight" data-parent="#accordion-v1" data-toggle="collapse" class="accordion-toggle">
                                                I live near a lake/pond. How can I tell If contaminants are reaching the water?
                                            </a>
                                        </h4>
                                    </div>
                                    <div class="panel-collapse collapse" id="collapse-Eight">
                                        <div class="panel-body">
                                            Look for these symptoms to determine if waste from your septic system is reaching surface water:<br>
                                            <br>
                                            Excessive weed or algae growth in brown or murky water. Pathogens and nutrients leaking from septic systems could be the major cause of this type of growth.<br>
                                            <br>
                                            Unpleasant odors, soggy soil, or liquid waste flow over the land surface. These symptoms may indicate failure of the system and the need for restoring the absorption field.<br>
                                            <br>
                                            Health department test results indicate the presence of biological contamination. These tests may show the presence of harmful bacteria such as e-coli in the drinking water.
                                        </div>
                                    </div>
                                </div>

                            </div>    
                        </div>
                        <!-- End Tab Content 1 -->

                        <!-- Tab Content 2 -->
                        <div id="profile" class="tab-pane fade">
                            <div id="accordion-v2" class="panel-group acc-v1">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a href="page_faq1.html#collapse-v2-One" data-parent="#accordion-v2" data-toggle="collapse" class="accordion-toggle">
                                                Payment assistance first
                                            </a>
                                        </h4>
                                    </div>
                                    <div class="panel-collapse collapse in" id="collapse-v2-One">
                                        <div class="panel-body">
                                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a href="page_faq1.html#collapse-v2-Two" data-parent="#accordion-v2" data-toggle="collapse" class="accordion-toggle">
                                                Payment assistance second
                                            </a>
                                        </h4>
                                    </div>
                                    <div class="panel-collapse collapse" id="collapse-v2-Two">
                                        <div class="panel-body">
                                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a href="page_faq1.html#collapse-v2-Three" data-parent="#accordion-v2" data-toggle="collapse" class="accordion-toggle">
                                                Payment assistance third
                                            </a>
                                        </h4>
                                    </div>
                                    <div class="panel-collapse collapse" id="collapse-v2-Three">
                                        <div class="panel-body">
                                            Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Food truck quinoa nesciunt laborum eiusmodolf moon tempor, sunt aliqua put a bird. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a href="page_faq1.html#collapse-v2-Four" data-parent="#accordion-v2" data-toggle="collapse" class="accordion-toggle">
                                                Payment assistanc fourth
                                            </a>
                                        </h4>
                                    </div>
                                    <div class="panel-collapse collapse" id="collapse-v2-Four">
                                        <div class="panel-body">
                                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a href="page_faq1.html#collapse-v2-Five" data-parent="#accordion-v2" data-toggle="collapse" class="accordion-toggle">
                                                Payment assistanc fifth
                                            </a>
                                        </h4>
                                    </div>
                                    <div class="panel-collapse collapse" id="collapse-v2-Five">
                                        <div class="panel-body">
                                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                                        </div>
                                    </div>
                                </div>
                            </div>    
                        </div>
                        <!-- Tab Content 2 -->
                        
                        <!-- Tab Content 3 -->
                        <div id="messages" class="tab-pane fade">
                            <div id="accordion-v3" class="panel-group acc-v1">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a href="page_faq1.html#collapse-v3-One" data-parent="#accordion-v3" data-toggle="collapse" class="accordion-toggle">
                                                Work for Unify first
                                            </a>
                                        </h4>
                                    </div>
                                    <div class="panel-collapse collapse in" id="collapse-v3-One">
                                        <div class="panel-body">
                                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a href="page_faq1.html#collapse-v3-Two" data-parent="#accordion-v3" data-toggle="collapse" class="accordion-toggle">
                                                Work for Unify second
                                            </a>
                                        </h4>
                                    </div>
                                    <div class="panel-collapse collapse" id="collapse-v3-Two">
                                        <div class="panel-body">
                                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a href="page_faq1.html#collapse-v3-Three" data-parent="#accordion-v3" data-toggle="collapse" class="accordion-toggle">
                                                Work for Unify third
                                            </a>
                                        </h4>
                                    </div>
                                    <div class="panel-collapse collapse" id="collapse-v3-Three">
                                        <div class="panel-body">
                                            Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Food truck quinoa nesciunt laborum eiusmodolf moon tempor, sunt aliqua put a bird. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a href="page_faq1.html#collapse-v3-Four" data-parent="#accordion-v3" data-toggle="collapse" class="accordion-toggle">
                                                Work for Unify fourth
                                            </a>
                                        </h4>
                                    </div>
                                    <div class="panel-collapse collapse" id="collapse-v3-Four">
                                        <div class="panel-body">
                                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a href="page_faq1.html#collapse-v3-Five" data-parent="#accordion-v3" data-toggle="collapse" class="accordion-toggle">
                                                Work for Unify fifth
                                            </a>
                                        </h4>
                                    </div>
                                    <div class="panel-collapse collapse" id="collapse-v3-Five">
                                        <div class="panel-body">
                                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                                        </div>
                                    </div>
                                </div>
                            </div>    
                        </div>
                        <!-- Tab Content 3 -->
                        
                        <!-- Tab Content 4 -->                        
                        <div id="settings" class="tab-pane fade">
                            <div id="accordion-v4" class="panel-group acc-v1">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a href="page_faq1.html#collapse-v4-One" data-parent="#accordion-v4" data-toggle="collapse" class="accordion-toggle">
                                                About Unify first
                                            </a>
                                        </h4>
                                    </div>
                                    <div class="panel-collapse collapse in" id="collapse-v4-One">
                                        <div class="panel-body">
                                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a href="page_faq1.html#collapse-v4-Two" data-parent="#accordion-v4" data-toggle="collapse" class="accordion-toggle">
                                                About Unify second
                                            </a>
                                        </h4>
                                    </div>
                                    <div class="panel-collapse collapse" id="collapse-v4-Two">
                                        <div class="panel-body">
                                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a href="page_faq1.html#collapse-v4-Three" data-parent="#accordion-v4" data-toggle="collapse" class="accordion-toggle">
                                                About Unify third
                                            </a>
                                        </h4>
                                    </div>
                                    <div class="panel-collapse collapse" id="collapse-v4-Three">
                                        <div class="panel-body">
                                            Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Food truck quinoa nesciunt laborum eiusmodolf moon tempor, sunt aliqua put a bird. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a href="page_faq1.html#collapse-v4-Four" data-parent="#accordion-v4" data-toggle="collapse" class="accordion-toggle">
                                                About Unify fourth
                                            </a>
                                        </h4>
                                    </div>
                                    <div class="panel-collapse collapse" id="collapse-v4-Four">
                                        <div class="panel-body">
                                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a href="page_faq1.html#collapse-v4-Five" data-parent="#accordion-v4" data-toggle="collapse" class="accordion-toggle">
                                                About Unify fifth
                                            </a>
                                        </h4>
                                    </div>
                                    <div class="panel-collapse collapse" id="collapse-v4-Five">
                                        <div class="panel-body">
                                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Tab Content 4 -->                        
                    </div>
                </div>
            </div><!--/col-md-6-->
            <!--End Tab v1-->

            <!-- Popular Topics -->
            <div class="col-md-6">
                <iframe width="100%" height="515" src="https://www.youtube.com/embed/D82B6hQoiys?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
            </div><!--/col-md-6-->
            <!-- End Popular Topics -->
        </div>        
        <!-- End FAQ Content -->
        <hr>
    </div><!--/container-->     
    <!--=== End FAQ Page ===-->

    

    <!--=== FAQ Content ===-->
    <div class="container content-sm">
        <div class="row equal-height-columns margin-bottom-40">
            <div class="col-sm-4 no-space">
                <div class="easy-block-v3 equal-height-column first">
                    <i class="fa fa-headphones"></i>
                    <div class="inner-faq-b">
                        <h3>Contact Us</h3>
                        <h4>1(123) 456</h4>
                        <p>Sed rutrum risus non massa sodales varius. Etiam aliquet tincidunt sapien, nec iaculis eros.</p>
                    </div>    
                </div>
            </div>    
            <div class="col-sm-4 no-space">
                <div class="easy-block-v3 equal-height-column second">
                    <i class="icon-cursor"></i>
                    <div class="inner-faq-b">
                        <h3>Email Us</h3>
                        <h4>info@anybiz.com</h4>
                        <p>Sed rutrum risus non massa sodales varius. Etiam aliquet tincidunt sapien, nec iaculis eros.</p>
                    </div>    
                </div>
            </div>    
            <div class="col-sm-4 no-space">
                <div class="easy-block-v3 equal-height-column third">
                    <i class="icon-support"></i>
                    <div class="inner-faq-b">
                        <h3>Support</h3>
                        <h4>Technical Support</h4>
                        <p>Sed rutrum risus non massa sodales varius. Etiam aliquet tincidunt sapien, nec iaculis eros.</p>
                    </div>    
                </div>
            </div>    
        </div>

        
    </div><!--/container-->
    <!--=== End FAQ Content ===-->