 <div style="position: relative;">
 <!--=== Breadcrumbs ===-->
    <div class="breadcrumbs">
        <div class="container">
            <h1 class="pull-left">Treatment Guide Chart</h1>
        </div>
    </div><!--/breadcrumbs-->
    <!--=== End Breadcrumbs ===-->
<br>
    <div class="container">
    <div class="row">
        <div class="col-sm-12">
            <ul class="nav nav-pills">
                  <li role="presentation" class="active"><a href="#prev_maint">Preventive Maintenance</a></li>
                  <li role="presentation"><a href="#slow_mov_drains">Slow Moving Drains Gurgling Sounds in Pipes</a></li>
                  <li role="presentation"><a href="#inside_odors">Inside Odors</a></li>
                  <li role="presentation"><a href="#outside_odors">Outside Odors</a></li>
                  <li role="presentation"><a href="#wet_soil">Discolored or Wet Soil</a></li>
                  <li role="presentation"><a href="#pumps_1">Pump-Outs 1 – 2 Times Per Year</a></li>
                  <li role="presentation"><a href="#pumps_2">Pump-Outs 3 Times a Month</a></li>
                  <li role="presentation"><a href="#pumps_3">Pump-Outs 2 Times A Month</a></li>
                  <li role="presentation"><a href="#septic">Septic Overflowing or Septic Backing Up</a></li>          
                </ul>
        </div>
    </div>
</div>

<!-- Top Bordered Funny Boxes -->
    <div class="container content-sm">
        <div class="row">
            <div id="prev_maint">
            <h3>Preventive Maintenance</h3>
            <div class="col-sm-3 sm-margin-bottom-40">
                
                <div class="funny-boxes funny-boxes-top-red">
                    <div class="row">
                        
                        <div class="col-md-12">
                            <h2><a href="feature_funny_boxes.html#">Symptoms</a></h2>
                            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum.</p>
                        </div>
                    </div>                            
                </div>
            </div>

            <div class="col-sm-3">
                <div class="funny-boxes funny-boxes-top-sea">
                    <div class="row">
                        <div class="col-md-12">
                            <h2><a href="feature_funny_boxes.html#">Immediate Treatment</a></h2>
                            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum.</p>
                        </div>
                    </div>                            
                </div>
            </div>

            <div class="col-sm-3">
                <div class="funny-boxes funny-boxes-top-purple">
                    <div class="row">
                        
                        <div class="col-md-12">
                            <h2><a href="feature_funny_boxes.html#">Follow Up Treatment</a></h2>
                            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum.</p>
                        </div>
                    </div>                            
                </div>
            </div>


            <div class="col-sm-3">
                <div class="funny-boxes funny-boxes-top-yellow">
                    <div class="row">
                        
                        <div class="col-md-12">
                            <h2><a href="feature_funny_boxes.html#">Summary</a></h2>
                            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum.</p>
                        </div>
                    </div>                            
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
            <div class="col-sm-6 sm-margin-bottom-40">
                <div class="funny-boxes funny-boxes-left-green">
                    <div class="row">
                        <div class="col-md-5 funny-boxes-img">
                            <%= image_tag 'Jug_order.png', class: "img-responsive" %>

                        </div>
                        <div class="col-md-7">
                            <h2><a href="feature_funny_boxes.html#">What to Order</a></h2>
                            <ul class="list-unstyled funny-boxes-rating">
                               <li><i class="fa fa-star"></i></li>
                               <li><i class="fa fa-star"></i></li>
                               <li><i class="fa fa-star"></i></li>
                               <li><i class="fa fa-star"></i></li>
                               <li><i class="fa fa-star"></i></li>
                            </ul>
                            <ul class="list-unstyled">
                               <li>Preventive Maintenance Treatment</li>
                               <li>One - 2.5 Gal. Container</li>
                            </ul>
                            <br>
                            <button type="button" class="btn btn-primary btn-lg">Buy Now!</button>
                        </div>
                    </div>                            
                </div>                    
            </div>

        </div>

    </div>
    <!-- End Top Bordered Funny Boxes -->

    <!-- Top Bordered Funny Boxes -->
    <div class="bg-grey">
        <div class="container content-sm">
            <div id="slow_mov_drains">
            <h3>Slow Moving Drains Gurgling Sounds in Pipes</h3>
            <div class="row">
                <!-- Bordered Funny Boxes -->

                <div class="col-sm-3 sm-margin-bottom-40">
                    <div class="funny-boxes funny-boxes-top-red bg-color-white">
                        <div class="row">
                            <div class="col-md-12">
                                <h2><a href="feature_funny_boxes.html#">Symptoms</a></h2>
                                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum.</p>
                            </div>
                        </div>                            
                    </div>
                </div>
                <!-- End Bordered Funny Boxes -->

                <!-- Colored Funny Boxes -->
                <div class="col-md-3">
                    <div class="funny-boxes funny-boxes-top-sea bg-color-white">
                        <div class="row">
                            <div class="col-md-12">
                                <h2><a href="feature_funny_boxes.html#">Immediate Treatment</a></h2>
                                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum.</p>
                            </div>
                        </div>                            
                    </div>
                </div>
                <!--End Colored Funny Boxes -->

                 <!-- Colored Funny Boxes -->
                <div class="col-md-3">
                    <div class="funny-boxes funny-boxes-top-purple bg-color-white">
                        <div class="row">
                            <div class="col-md-12">
                                <h2><a href="feature_funny_boxes.html#">Follow Up Treatment</a></h2>
                                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum.</p>
                            </div>
                        </div>                            
                    </div>
                </div>
                <!--End Colored Funny Boxes -->

                <!-- Colored Funny Boxes -->
                <div class="col-md-3">
                    <div class="funny-boxes funny-boxes-top-yellow bg-color-white">
                        <div class="row">
                            <div class="col-md-12">
                                <h2><a href="feature_funny_boxes.html#">Summary</a></h2>
                                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum.</p>
                            </div>
                        </div>                            
                    </div>
                </div>
                <!--End Colored Funny Boxes -->

            </div>  
            <br>
            <div class="row">
            <div class="col-sm-6 sm-margin-bottom-40">
                <div class="funny-boxes funny-boxes-left-green bg-color-white">
                    <div class="row">
                        <div class="col-md-5 funny-boxes-img">
                            <div class="row">
                                <div class="col-sm-6">
                                    <%= image_tag 'Jug_order.png', class: "img-responsive" %>
                                </div>
                            <div class="col-sm-6">
                                    <%= image_tag 'Jug_order.png', class: "img-responsive" %>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-7">
                            <h2><a href="feature_funny_boxes.html#">What to Order</a></h2>
                            <ul class="list-unstyled funny-boxes-rating">
                               <li><i class="fa fa-star"></i></li>
                               <li><i class="fa fa-star"></i></li>
                               <li><i class="fa fa-star"></i></li>
                               <li><i class="fa fa-star"></i></li>
                               <li><i class="fa fa-star"></i></li>
                            </ul>
                            <ul class="list-unstyled"> 
                               <li>4 Week Treatment</li>
                               <li>Two - 2.5 Gal. Containers</li>
                            </ul>
                            <br>
                            <button type="button" class="btn btn-primary btn-lg">Buy Now!</button>
                        </div>
                    </div>                            
                </div>                    
            </div>

        </div>          
        </div>
    </div>
    </div>
    <!-- End Top Bordered Funny Boxes -->


    <!-- Top Bordered Funny Boxes -->
    <div class="container content-sm">
        <div class="row">
            <div id="inside_odors">
            <h3>Inside Odors</h3>
            <div class="col-sm-3 sm-margin-bottom-40">
                
                <div class="funny-boxes funny-boxes-top-red">
                    <div class="row">
                        
                        <div class="col-md-12">
                            <h2><a href="feature_funny_boxes.html#">Symptoms</a></h2>
                            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum.</p>
                        </div>
                    </div>                            
                </div>
            </div>

            <div class="col-sm-3">
                <div class="funny-boxes funny-boxes-top-sea">
                    <div class="row">
                        <div class="col-md-12">
                            <h2><a href="feature_funny_boxes.html#">Immediate Treatment</a></h2>
                            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum.</p>
                        </div>
                    </div>                            
                </div>
            </div>

            <div class="col-sm-3">
                <div class="funny-boxes funny-boxes-top-purple">
                    <div class="row">
                        
                        <div class="col-md-12">
                            <h2><a href="feature_funny_boxes.html#">Follow Up Treatment</a></h2>
                            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum.</p>
                        </div>
                    </div>                            
                </div>
            </div>


            <div class="col-sm-3">
                <div class="funny-boxes funny-boxes-top-yellow">
                    <div class="row">
                        
                        <div class="col-md-12">
                            <h2><a href="feature_funny_boxes.html#">Summary</a></h2>
                            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum.</p>
                        </div>
                    </div>                            
                </div>
            </div>
        </div>
    </div>
    </div>
    <!-- End Top Bordered Funny Boxes -->



    <!-- Top Bordered Funny Boxes -->
    <div class="bg-grey">
        <div class="container content-sm">
            <div id="outside_odors">
            <h3>Outside Odors</h3>
            <div class="row">
                <!-- Bordered Funny Boxes -->

                <div class="col-sm-3 sm-margin-bottom-40">
                    <div class="funny-boxes funny-boxes-top-red bg-color-white">
                        <div class="row">
                            <div class="col-md-12">
                                <h2><a href="feature_funny_boxes.html#">Symptoms</a></h2>
                                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum.</p>
                            </div>
                        </div>                            
                    </div>
                </div>
                <!-- End Bordered Funny Boxes -->

                <!-- Colored Funny Boxes -->
                <div class="col-md-3">
                    <div class="funny-boxes funny-boxes-top-sea bg-color-white">
                        <div class="row">
                            <div class="col-md-12">
                                <h2><a href="feature_funny_boxes.html#">Immediate Treatment</a></h2>
                                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum.</p>
                            </div>
                        </div>                            
                    </div>
                </div>
                <!--End Colored Funny Boxes -->

                 <!-- Colored Funny Boxes -->
                <div class="col-md-3">
                    <div class="funny-boxes funny-boxes-top-purple bg-color-white">
                        <div class="row">
                            <div class="col-md-12">
                                <h2><a href="feature_funny_boxes.html#">Follow Up Treatment</a></h2>
                                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum.</p>
                            </div>
                        </div>                            
                    </div>
                </div>
                <!--End Colored Funny Boxes -->

                <!-- Colored Funny Boxes -->
                <div class="col-md-3">
                    <div class="funny-boxes funny-boxes-top-yellow bg-color-white">
                        <div class="row">
                            <div class="col-md-12">
                                <h2><a href="feature_funny_boxes.html#">Summary</a></h2>
                                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum.</p>
                            </div>
                        </div>                            
                    </div>
                </div>
                <!--End Colored Funny Boxes -->

            </div>            
        </div>
    </div>
    </div>
    <!-- End Top Bordered Funny Boxes -->





    <!-- Top Bordered Funny Boxes -->
    <div class="container content-sm">
        <div class="row">
            <div id="wet_soil">
            <h3>Discolored or Wet Soil</h3>
            <div class="col-sm-3 sm-margin-bottom-40">
                
                <div class="funny-boxes funny-boxes-top-red">
                    <div class="row">
                        
                        <div class="col-md-12">
                            <h2><a href="feature_funny_boxes.html#">Symptoms</a></h2>
                            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum.</p>
                        </div>
                    </div>                            
                </div>
            </div>

            <div class="col-sm-3">
                <div class="funny-boxes funny-boxes-top-sea">
                    <div class="row">
                        <div class="col-md-12">
                            <h2><a href="feature_funny_boxes.html#">Immediate Treatment</a></h2>
                            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum.</p>
                        </div>
                    </div>                            
                </div>
            </div>

            <div class="col-sm-3">
                <div class="funny-boxes funny-boxes-top-purple">
                    <div class="row">
                        
                        <div class="col-md-12">
                            <h2><a href="feature_funny_boxes.html#">Follow Up Treatment</a></h2>
                            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum.</p>
                        </div>
                    </div>                            
                </div>
            </div>


            <div class="col-sm-3">
                <div class="funny-boxes funny-boxes-top-yellow">
                    <div class="row">
                        
                        <div class="col-md-12">
                            <h2><a href="feature_funny_boxes.html#">Summary</a></h2>
                            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum.</p>
                        </div>
                    </div>                            
                </div>
            </div>
        </div>
    </div>
    </div>
    <!-- End Top Bordered Funny Boxes -->





 <!-- Top Bordered Funny Boxes -->
    <div class="bg-grey">
        <div class="container content-sm">
            <div id="pumps_1">
            <h3>Pump-Outs 1 – 2 Times Per Year</h3>
            <div class="row">
                <!-- Bordered Funny Boxes -->

                <div class="col-sm-3 sm-margin-bottom-40">
                    <div class="funny-boxes funny-boxes-top-red bg-color-white">
                        <div class="row">
                            <div class="col-md-12">
                                <h2><a href="feature_funny_boxes.html#">Symptoms</a></h2>
                                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum.</p>
                            </div>
                        </div>                            
                    </div>
                </div>
                <!-- End Bordered Funny Boxes -->

                <!-- Colored Funny Boxes -->
                <div class="col-md-3">
                    <div class="funny-boxes funny-boxes-top-sea bg-color-white">
                        <div class="row">
                            <div class="col-md-12">
                                <h2><a href="feature_funny_boxes.html#">Immediate Treatment</a></h2>
                                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum.</p>
                            </div>
                        </div>                            
                    </div>
                </div>
                <!--End Colored Funny Boxes -->

                 <!-- Colored Funny Boxes -->
                <div class="col-md-3">
                    <div class="funny-boxes funny-boxes-top-purple bg-color-white">
                        <div class="row">
                            <div class="col-md-12">
                                <h2><a href="feature_funny_boxes.html#">Follow Up Treatment</a></h2>
                                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum.</p>
                            </div>
                        </div>                            
                    </div>
                </div>
                <!--End Colored Funny Boxes -->

                <!-- Colored Funny Boxes -->
                <div class="col-md-3">
                    <div class="funny-boxes funny-boxes-top-yellow bg-color-white">
                        <div class="row">
                            <div class="col-md-12">
                                <h2><a href="feature_funny_boxes.html#">Summary</a></h2>
                                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum.</p>
                            </div>
                        </div>                            
                    </div>
                </div>
                <!--End Colored Funny Boxes -->

            </div>            
        </div>
    </div>
    </div>
    <!-- End Top Bordered Funny Boxes -->







    <!-- Top Bordered Funny Boxes -->
    <div class="container content-sm">
        <div class="row">
            <div id="pumps_2">
            <h3>Pump-Outs 3 Times a Month</h3>
            <div class="col-sm-3 sm-margin-bottom-40">
                
                <div class="funny-boxes funny-boxes-top-red">
                    <div class="row">
                        
                        <div class="col-md-12">
                            <h2><a href="feature_funny_boxes.html#">Symptoms</a></h2>
                            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum.</p>
                        </div>
                    </div>                            
                </div>
            </div>

            <div class="col-sm-3">
                <div class="funny-boxes funny-boxes-top-sea">
                    <div class="row">
                        <div class="col-md-12">
                            <h2><a href="feature_funny_boxes.html#">Immediate Treatment</a></h2>
                            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum.</p>
                        </div>
                    </div>                            
                </div>
            </div>

            <div class="col-sm-3">
                <div class="funny-boxes funny-boxes-top-purple">
                    <div class="row">
                        
                        <div class="col-md-12">
                            <h2><a href="feature_funny_boxes.html#">Follow Up Treatment</a></h2>
                            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum.</p>
                        </div>
                    </div>                            
                </div>
            </div>


            <div class="col-sm-3">
                <div class="funny-boxes funny-boxes-top-yellow">
                    <div class="row">
                        
                        <div class="col-md-12">
                            <h2><a href="feature_funny_boxes.html#">Summary</a></h2>
                            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum.</p>
                        </div>
                    </div>                            
                </div>
            </div>
        </div>
    </div>
    </div>
    <!-- End Top Bordered Funny Boxes -->







 <!-- Top Bordered Funny Boxes -->
    <div class="bg-grey">
        <div class="container content-sm">
            <div id="pumps_3">
            <h3>Pump-Outs 2 Times A Month</h3>
            <div class="row">
                <!-- Bordered Funny Boxes -->

                <div class="col-sm-3 sm-margin-bottom-40">
                    <div class="funny-boxes funny-boxes-top-red bg-color-white">
                        <div class="row">
                            <div class="col-md-12">
                                <h2><a href="feature_funny_boxes.html#">Symptoms</a></h2>
                                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum.</p>
                            </div>
                        </div>                            
                    </div>
                </div>
                <!-- End Bordered Funny Boxes -->

                <!-- Colored Funny Boxes -->
                <div class="col-md-3">
                    <div class="funny-boxes funny-boxes-top-sea bg-color-white">
                        <div class="row">
                            <div class="col-md-12">
                                <h2><a href="feature_funny_boxes.html#">Immediate Treatment</a></h2>
                                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum.</p>
                            </div>
                        </div>                            
                    </div>
                </div>
                <!--End Colored Funny Boxes -->

                 <!-- Colored Funny Boxes -->
                <div class="col-md-3">
                    <div class="funny-boxes funny-boxes-top-purple bg-color-white">
                        <div class="row">
                            <div class="col-md-12">
                                <h2><a href="feature_funny_boxes.html#">Follow Up Treatment</a></h2>
                                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum.</p>
                            </div>
                        </div>                            
                    </div>
                </div>
                <!--End Colored Funny Boxes -->

                <!-- Colored Funny Boxes -->
                <div class="col-md-3">
                    <div class="funny-boxes funny-boxes-top-yellow bg-color-white">
                        <div class="row">
                            <div class="col-md-12">
                                <h2><a href="feature_funny_boxes.html#">Summary</a></h2>
                                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum.</p>
                            </div>
                        </div>                            
                    </div>
                </div>
                <!--End Colored Funny Boxes -->

            </div>            
        </div>
    </div>
    </div>
    <!-- End Top Bordered Funny Boxes -->









 <!-- Top Bordered Funny Boxes -->
    
        <div class="container content-sm">
            <div id="pumps_1">
            <h3>Pump-Outs 1 – 2 Times Per Year</h3>
            <div class="row">
                <!-- Bordered Funny Boxes -->

                <div class="col-sm-3 sm-margin-bottom-40">
                    <div class="funny-boxes funny-boxes-top-red">
                        <div class="row">
                            <div class="col-md-12">
                                <h2><a href="feature_funny_boxes.html#">Symptoms</a></h2>
                                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum.</p>
                            </div>
                        </div>                            
                    </div>
                </div>
                <!-- End Bordered Funny Boxes -->

                <!-- Colored Funny Boxes -->
                <div class="col-md-3">
                    <div class="funny-boxes funny-boxes-top-sea">
                        <div class="row">
                            <div class="col-md-12">
                                <h2><a href="feature_funny_boxes.html#">Immediate Treatment</a></h2>
                                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum.</p>
                            </div>
                        </div>                            
                    </div>
                </div>
                <!--End Colored Funny Boxes -->

                 <!-- Colored Funny Boxes -->
                <div class="col-md-3">
                    <div class="funny-boxes funny-boxes-top-purple">
                        <div class="row">
                            <div class="col-md-12">
                                <h2><a href="feature_funny_boxes.html#">Follow Up Treatment</a></h2>
                                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum.</p>
                            </div>
                        </div>                            
                    </div>
                </div>
                <!--End Colored Funny Boxes -->

                <!-- Colored Funny Boxes -->
                <div class="col-md-3">
                    <div class="funny-boxes funny-boxes-top-yellow">
                        <div class="row">
                            <div class="col-md-12">
                                <h2><a href="feature_funny_boxes.html#">Summary</a></h2>
                                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum.</p>
                            </div>
                        </div>                            
                    </div>
                </div>
                <!--End Colored Funny Boxes -->

            </div>            
        </div>
    </div>
    <!-- End Top Bordered Funny Boxes -->







    <!-- Top Bordered Funny Boxes -->
    <div class="bg-grey">
    <div class="container content-sm">
        <div class="row">
            <div id="septic">
            <h3>Septic Overflowing or Septic Backing Up</h3>
            <div class="col-sm-3 sm-margin-bottom-40">
                <div class="funny-boxes funny-boxes-top-red bg-color-white">
                    <div class="row">
                        
                        <div class="col-md-12">
                            <h2><a href="feature_funny_boxes.html#">Symptoms</a></h2>
                            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum.</p>
                        </div>
                    </div>                            
                </div>
            </div>

            <div class="col-sm-3">
                <div class="funny-boxes funny-boxes-top-sea">
                    <div class="row">
                        <div class="col-md-12">
                            <h2><a href="feature_funny_boxes.html#">Immediate Treatment</a></h2>
                            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum.</p>
                        </div>
                    </div>                            
                </div>
            </div>

            <div class="col-sm-3">
                <div class="funny-boxes funny-boxes-top-purple">
                    <div class="row">
                        
                        <div class="col-md-12">
                            <h2><a href="feature_funny_boxes.html#">Follow Up Treatment</a></h2>
                            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum.</p>
                        </div>
                    </div>                            
                </div>
            </div>


            <div class="col-sm-3">
                <div class="funny-boxes funny-boxes-top-yellow">
                    <div class="row">
                        
                        <div class="col-md-12">
                            <h2><a href="feature_funny_boxes.html#">Summary</a></h2>
                            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum.</p>
                        </div>
                    </div>                            
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
    <!-- End Top Bordered Funny Boxes -->

























    

    <!-- Left Bordered Funny Boxes -->
    <div class="bg-grey">
        <div class="container content-sm">
            <div class="row">
                <div class="col-md-6 md-margin-bottom-40">
                    <div class="funny-boxes funny-boxes-left-orange bg-color-white">
                        <div class="row">
                            <div class="col-md-4 funny-boxes-img">
                                <img class="img-responsive" src="assets/img/main/img3.jpg" alt="">
                                <ul class="list-unstyled">
                                   <li><i class="fa-fw fa fa-briefcase"></i> Dell, Google</li>
                                   <li><i class="fa-fw fa fa-map-marker"></i> New York, US</li>
                                </ul>
                            </div>
                            <div class="col-md-8">
                                <h2><a href="feature_funny_boxes.html#">Blanditiis Praesentium</a></h2>
                                <ul class="list-unstyled funny-boxes-rating">
                                   <li><i class="fa fa-star"></i></li>
                                   <li><i class="fa fa-star"></i></li>
                                   <li><i class="fa fa-star-o"></i></li>
                                   <li><i class="fa fa-star-o"></i></li>
                                   <li><i class="fa fa-star-o"></i></li>
                                </ul>
                                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum.</p>
                            </div>
                        </div>                            
                    </div>                    
                </div>

                <div class="col-md-6">
                    <div class="funny-boxes funny-boxes-left-blue bg-color-white">
                        <div class="row">
                            <div class="col-md-4 funny-boxes-img">
                                <img class="img-responsive" src="assets/img/main/img4.jpg" alt="">
                                <ul class="list-unstyled">
                                   <li><i class="fa-fw fa fa-briefcase"></i> Dell, Google</li>
                                   <li><i class="fa-fw fa fa-map-marker"></i> New York, US</li>
                                </ul>
                            </div>
                            <div class="col-md-8">
                                <h2><a href="feature_funny_boxes.html#">Blanditiis Praesentium</a></h2>
                                <ul class="list-unstyled funny-boxes-rating">
                                   <li><i class="fa fa-star"></i></li>
                                   <li><i class="fa fa-star"></i></li>
                                   <li><i class="fa fa-star-o"></i></li>
                                   <li><i class="fa fa-star-o"></i></li>
                                   <li><i class="fa fa-star-o"></i></li>
                                </ul>
                                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum.</p>
                            </div>
                        </div>                            
                    </div>                    
                </div>
            </div>
        </div>
    </div>
    <!-- End Left Bordered Funny Boxes -->

    <!-- Colored Funny Boxes -->
    <div class="container content-sm">
        <div class="row">
            <div class="col-sm-6 sm-margin-bottom-40">
                <div class="funny-boxes funny-boxes-colored funny-boxes-purple">
                    <div class="row">
                        <div class="col-md-4 funny-boxes-img">
                            <img class="img-responsive" src="assets/img/main/img26.jpg" alt="">
                            <ul class="list-unstyled">
                               <li><i class="fa-fw fa fa-briefcase"></i> Dell, Google</li>
                               <li><i class="fa-fw fa fa-map-marker"></i> New York, US</li>
                            </ul>
                        </div>
                        <div class="col-md-8">
                            <h2><a href="feature_funny_boxes.html#">Accusamus Box</a></h2>
                            <ul class="list-unstyled funny-boxes-rating">
                               <li><i class="fa fa-star"></i></li>
                               <li><i class="fa fa-star"></i></li>
                               <li><i class="fa fa-star"></i></li>
                               <li><i class="fa fa-star-o"></i></li>
                               <li><i class="fa fa-star-o"></i></li>
                            </ul>
                            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum.</p>
                        </div>
                    </div>                            
                </div>
            </div>

            <div class="col-sm-6">
                <div class="funny-boxes funny-boxes-colored bg-color-brown">
                    <div class="row">
                        <div class="col-md-4 funny-boxes-img">
                            <img class="img-responsive" src="assets/img/main/img19.jpg" alt="">
                            <ul class="list-unstyled">
                               <li><i class="fa-fw fa fa-briefcase"></i> Dell, Google</li>
                               <li><i class="fa-fw fa fa-map-marker"></i> New York, US</li>
                            </ul>
                        </div>
                        <div class="col-md-8">
                            <h2><a href="feature_funny_boxes.html#">Dignissimos Box</a></h2>
                            <ul class="list-unstyled funny-boxes-rating">
                               <li><i class="fa fa-star"></i></li>
                               <li><i class="fa fa-star"></i></li>
                               <li><i class="fa fa-star"></i></li>
                               <li><i class="fa fa-star"></i></li>
                               <li><i class="fa fa-star"></i></li>
                            </ul>
                            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum.</p>
                        </div>
                    </div>                            
                </div>
            </div>
        </div>
    </div>
    <!-- End Colored Funny Boxes -->

    <!-- Colored Funny Boxes -->
    <div class="bg-grey">
        <div class="container content-sm">
            <div class="row">
                <div class="col-md-6 md-margin-bottom-40">
                    <div class="funny-boxes funny-boxes-colored funny-boxes-red">
                        <div class="row">
                            <div class="col-md-4 funny-boxes-img">
                                <img class="img-responsive" src="assets/img/main/img18.jpg" alt="">
                                <ul class="list-unstyled">
                                   <li><i class="fa-fw fa fa-briefcase"></i> Dell, Google</li>
                                   <li><i class="fa-fw fa fa-map-marker"></i> New York, US</li>
                                </ul>
                            </div>
                            <div class="col-md-8">
                                <h2><a href="feature_funny_boxes.html#">Red Box</a></h2>
                                <ul class="list-unstyled funny-boxes-rating">
                                   <li><i class="fa fa-star"></i></li>
                                   <li><i class="fa fa-star"></i></li>
                                   <li><i class="fa fa-star"></i></li>
                                   <li><i class="fa fa-star-o"></i></li>
                                   <li><i class="fa fa-star-o"></i></li>
                                </ul>
                                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum.</p>
                            </div>
                        </div>                            
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="funny-boxes funny-boxes-colored funny-boxes-blue">
                        <div class="row">
                            <div class="col-md-4 funny-boxes-img">
                                <img class="img-responsive" src="assets/img/main/img11.jpg" alt="">
                                <ul class="list-unstyled">
                                   <li><i class="fa-fw fa fa-briefcase"></i> Dell, Google</li>
                                   <li><i class="fa-fw fa fa-map-marker"></i> New York, US</li>
                                </ul>
                            </div>
                            <div class="col-md-8">
                                <h2><a href="feature_funny_boxes.html#">Blue Box</a></h2>
                                <ul class="list-unstyled funny-boxes-rating">
                                   <li><i class="fa fa-star"></i></li>
                                   <li><i class="fa fa-star"></i></li>
                                   <li><i class="fa fa-star"></i></li>
                                   <li><i class="fa fa-star"></i></li>
                                   <li><i class="fa fa-star"></i></li>
                                </ul>
                                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum.</p>
                            </div>
                        </div>                            
                    </div>
                </div>
            </div>        
        </div>
    </div>
    <!-- End Colored Funny Boxes -->

    <!-- Colored Funny Boxes -->
    <div class="container content-sm">
        <div class="row">
            <div class="col-sm-6 sm-margin-bottom-40">
                <div class="funny-boxes funny-boxes-colored funny-boxes-sea">
                    <div class="row">
                        <div class="col-md-4 funny-boxes-img">
                            <img class="img-responsive" src="assets/img/main/img24.jpg" alt="">
                            <ul class="list-unstyled">
                               <li><i class="fa-fw fa fa-briefcase"></i> Dell, Google</li>
                               <li><i class="fa-fw fa fa-map-marker"></i> New York, US</li>
                            </ul>
                        </div>
                        <div class="col-md-8">
                            <h2><a href="feature_funny_boxes.html#">Accusamus Box</a></h2>
                            <ul class="list-unstyled funny-boxes-rating">
                               <li><i class="fa fa-star"></i></li>
                               <li><i class="fa fa-star"></i></li>
                               <li><i class="fa fa-star"></i></li>
                               <li><i class="fa fa-star-o"></i></li>
                               <li><i class="fa fa-star-o"></i></li>
                            </ul>
                            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum.</p>
                        </div>
                    </div>                            
                </div>
            </div>

            <div class="col-sm-6">
                <div class="funny-boxes funny-boxes-colored funny-boxes-grey">
                    <div class="row">
                        <div class="col-md-4 funny-boxes-img">
                            <img class="img-responsive" src="assets/img/main/img25.jpg" alt="">
                            <ul class="list-unstyled">
                               <li><i class="fa-fw fa fa-briefcase"></i> Dell, Google</li>
                               <li><i class="fa-fw fa fa-map-marker"></i> New York, US</li>
                            </ul>
                        </div>
                        <div class="col-md-8">
                            <h2><a href="feature_funny_boxes.html#">Dignissimos Box</a></h2>
                            <ul class="list-unstyled funny-boxes-rating">
                               <li><i class="fa fa-star"></i></li>
                               <li><i class="fa fa-star"></i></li>
                               <li><i class="fa fa-star"></i></li>
                               <li><i class="fa fa-star"></i></li>
                               <li><i class="fa fa-star"></i></li>
                            </ul>
                            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum.</p>
                        </div>
                    </div>                            
                </div>
            </div>
        </div>
    </div><!--/container-->     
    <!-- End Colored Funny Boxes -->
    </div>