<%= render 'pages/slider' %>

<!--=== Purchase Block ===-->
    <div class="purchase">
        <div class="container">
            <div class="row">
                <div class="col-md-9 animated fadeInLeft">
                    <span>Prevent &amp; Restore A Failing Septic Tank System &amp; Drain Field</span>
                    <p>The SeptiCure Solution  permanently restores your septic system to its original condition and helps you avoid the repeated expenses associated with temporary repair procedures!</p>
                </div>            
                <div class="col-md-3 btn-buy animated fadeInRight">
                    <%= link_to pages_guide_path, class: "btn-u btn-u-lg" do %>
                        <i class="fa fa-book"></i> Learn More
                    <% end %>

                </div>
            </div>
        </div>
    </div><!--/row-->
    <!-- End Purchase Block -->

    <!--=== Content Part ===-->
    <div class="container content-sm">
    	<!-- Service Blocks -->
    	<div class="row">
            <h3>Are any of the following warning signs coming from your septic system? </h3>
        	<div class="col-md-4">
        		<div class="service">
                    <i class="fa fa-check service-icon"></i>
        			<div class="desc">
        				<h5>Slow flushing toilet </h5>
        			</div>
        		</div>	
        	</div>
        	<div class="col-md-4">
        		<div class="service">
                    <i class="fa fa-check service-icon"></i>
        			<div class="desc">
        				<h5>Slow drains</h5>
        			</div>
        		</div>	
        	</div>
        	<div class="col-md-4">
        		<div class="service">
                    <i class="fa fa-check service-icon"></i>
        			<div class="desc">
        				<h5>Gurgling in the pipes</h5>
        			</div>
        		</div>	
        	</div>			    
    	</div>
    	<!-- End Service Blokcs -->
        <!-- Service Blocks -->
        <div class="row">
            
            <div class="col-md-4">
                <div class="service">
                    <i class="fa fa-check service-icon"></i>
                    <div class="desc">
                        <h5>Odors inside (Level I)</h5>
                    </div>
                </div>  
            </div>
            <div class="col-md-4">
                <div class="service">
                    <i class="fa fa-check service-icon"></i>
                    <div class="desc">
                        <h5>Odors inside (Level II)</h5>
                    </div>
                </div>  
            </div>
            <div class="col-md-4">
                <div class="service">
                    <i class="fa fa-check service-icon"></i>
                    <div class="desc">
                        <h5>Wet Soil</h5>
                    </div>
                </div>  
            </div>              
        </div>
        <!-- End Service Blokcs -->
        <!-- Service Blocks -->
        <div class="row">
            
            <div class="col-md-4">
                <div class="service">
                    <i class="fa fa-check service-icon"></i>
                    <div class="desc">
                        <h5>Discolored grass</h5>
                    </div>
                </div>  
            </div>
            <div class="col-md-4">
                <div class="service">
                    <i class="fa fa-check service-icon"></i>
                    <div class="desc">
                        <h5>Water pooling in the yard</h5>
                    </div>
                </div>  
            </div>
            <div class="col-md-4">
                <div class="service">
                    <i class="fa fa-check service-icon"></i>
                    <div class="desc">
                        <h5>Biomat or black, tar-like buildup over the leach field</h5>
                    </div>
                </div>  
            </div>              
        </div>
        <!-- End Service Blokcs -->
        <!-- Service Blocks -->
        <div class="row">
            
            <div class="col-md-4">
                <div class="service">
                    <i class="fa fa-check service-icon"></i>
                    <div class="desc">
                        <h5>*Septic tank pumping approx. every 6 to 12 months  (Level I) </h5>
                    </div>
                </div>  
            </div>
            <div class="col-md-4">
                <div class="service">
                    <i class="fa fa-check service-icon"></i>
                    <div class="desc">
                        <h5>*Septic tank pumping approx. every 3 to 5 months  (Level II)</h5>
                    </div>
                </div>  
            </div>
            <div class="col-md-4">
                <div class="service">
                    <i class="fa fa-check service-icon"></i>
                    <div class="desc">
                        <h5>*Septic tank pumping approx. every 1 to 2 months or more  (Level III)</h5>
                    </div>
                </div>  
            </div>              
        </div>
        <!-- End Service Blokcs -->
        <!-- Service Blocks -->
        <div class="row margin-bottom-30">
            
            <div class="col-md-4">
                <div class="service">
                    <i class="fa fa-check service-icon"></i>
                    <div class="desc">
                        <h5>*Septic tank or plumbing overflowing </h5>
                    </div>
                </div>  
            </div>
            <div class="col-md-4">
                <div class="service">
                    <i class="fa fa-check service-icon"></i>
                    <div class="desc">
                        <h5>*Septic tank or plumbing backing up</h5>
                    </div>
                </div>  
            </div>
            <div class="col-md-4">
                <div class="service">
                    <i class="fa fa-check service-icon"></i>
                    <div class="desc">
                        <h5>*Septic tank or plumbing blocked</h5>
                    </div>
                </div>  
            </div>              
        </div>
        <!-- End Service Blokcs -->
         <div class="row margin-bottom-30">
            <div class="alert alert-success fade in">
                <strong>**</strong>Warning signs  can "come and go", which can create a false sense of security. If your system has ever shown septic problem signs, or if it has been replaced, follow the Treatment Guide and shock it according to past symptoms. The Septi-Cure Solution clears the continuous buildup that causes septic problems.
            </div>
            <div class="alert alert-success fade in">
                <strong>*</strong>Blocked Drainage of Cesspool, Holding Tank or, Drywell
            </div>
        </div>

    	<!-- Info Blokcs -->
    	<div class="row margin-bottom-30">
        	<!-- Welcome Block -->
    		<div class="col-md-8 md-margin-bottom-40">
    			<div class="headline"><h2>How Does The SeptiCure formula Work?</h2></div>
                <div class="row">
                    <div class="col-sm-4">
                        <iframe width="100%" height="170" src="https://www.youtube.com/embed/D82B6hQoiys" frameborder="0" allowfullscreen></iframe>
                    </div>
                    <div class="col-sm-8">
                        <p>The SeptiCure formula is the perfect septic solution because it removes the grease and waste buildup that is the primary cause of septic system and drain field problems!</p>
                        <!--
                        <ul class="list-unstyled margin-bottom-20">
                            <li><i class="fa fa-check color-green"></i> Donec id elit non mi porta gravida</li>
                            <li><i class="fa fa-check color-green"></i> Corporate and Creative</li>
                            <li><i class="fa fa-check color-green"></i> Responsive Bootstrap Template</li>
                            <li><i class="fa fa-check color-green"></i> Corporate and Creative</li>
                        </ul> 
                        -->
                        <p>
                            The Septi-Cure formula does not emulsify or liquefy oil, grease and organics, but literally eliminates it through natural biological digestion. 
                        </p>                   
                    </div>
                </div>
            </div><!--/col-md-8-->        

            <!-- Latest Shots -->
            <div class="col-md-4">
    			<div class="headline"><h2>We Helped Clean The B.P. Oil Spill </h2></div>
    			<div id="myCarousel" class="carousel slide carousel-v1">
                    <div class="carousel-inner">
                        <div class="item active">
                            <%= image_tag 'img4.jpg' %>
                        </div>
                    </div>
    			</div>
            </div><!--/col-md-4-->
    	</div>	
    	<!-- End Info Blokcs -->

        <!-- Info Blokcs -->
        <div class="row margin-bottom-30">
            <!-- Welcome Block -->
            <div class="col-md-12 md-margin-bottom-40">
                <div class="headline"><h2>How is The Septi-Cure Solution Unique?</h2></div>
                <div class="row">
                    <div class="col-sm-12">
                        <%= image_tag 'before-after.jpg', class: "img-responsive" %>
                        <br>
                        <h4>Before The Septi-Cure Solution</h4>
                        <p>Buildup occurs continuously at a rate of 1/10 of an inch per year throughout the septic system. Pump outs only clean the septic tank, neglecting the buildup that occurs in the plumbing, leach field and soil.</p>
                        <br>
                        <h4>After The Septi-Cure Solution </h4>
                        <p>Waste and sludge are removed by The Septi-Cure bacterial/enzyme formula. The septic system is restored back to its original condition, allowing proper air and water flow through the plumbing, leach field and soil. </p>
                    </div>
                </div>
                <br>
                <blockquote class="hero-unify">
                    <p>Having lived with septic systems all of our lives, when our cesspool septic tank suddenly started overflowing without warning after only ten years, we were skeptical about a company online and their ability to help. Our overflow problems made no sense since We had our cesspool pumped regularly and used additives at least every other month to maintain it. We never imagined how our cesspool could overflow all of a sudden! I called Septic Tank Cure and spoke to a gentleman named Phil. He was extremely professional and asked some questions while explaining in detail what might have happened and why. We realized that the acid treatments we allowed the pumpers to use all these years was NOT a good idea. We decided we needed to shock the cesspool to see if there was still "life" left in it.</p>
                    <small>Dr. Amiri, The Amiri Family, New York, NY</small>
                </blockquote>
            </div><!--/col-md-8-->        
        </div>  
        <!-- End Info Blokcs -->

        <!-- Info Blokcs -->
        <div class="row margin-bottom-30">
            <!-- Welcome Block -->
            <div class="col-md-12 md-margin-bottom-40">
                <div class="headline"><h2>The Septi-Cure Solution - Benefits:</h2></div>
                <div class="row">
                    <div class="col-sm-6">
                        <h4>Protects your property and ground/well water</h4>
                        <ul class="list-unstyled margin-bottom-20">
                            <li><i class="fa fa-check color-green"></i> Works better than dangerous, ineffective, caustic solvents that can harm you</li>
                            <li><i class="fa fa-check color-green"></i> Removes contaminants to stop microbes and insects that transmit disease</li>
                            <li><i class="fa fa-check color-green"></i> Replenishes beneficial bacteria destroyed by everyday use of chemicals</li>
                        </ul>                    
                    </div>
                    <div class="col-sm-6">
                        <h4>Saves money by restoring and maintaining system</h4>
                        <ul class="list-unstyled margin-bottom-20">
                            <li><i class="fa fa-check color-green"></i> Eliminates unnecessary septic system pumping, repairs and replacement</li>
                            <li><i class="fa fa-check color-green"></i> Protects the structural, mechanical and electrical components of your system</li>
                            <li><i class="fa fa-check color-green"></i> Results are permanent - quicker, less expensive and lasts longer than any other method</li>
                            <li><i class="fa fa-check color-green"></i> Concentrated formula works 24/7</li>
                        </ul>                    
                    </div>
                </div>
            </div><!--/col-md-8-->        
        </div>  
        <!-- End Info Blokcs -->

        <div class="row brand-page margin-bottom-30">
            <div class="col-md-12 md-margin-bottom-40">
                <div class="col-sm-6">

                    <button class="btn btn-block btn-android-inversed rounded">
                      <i class="fa fa-phone"></i> Get Your Free Consultation Today!
                    </button>
                  
                </div>
                <div class="col-sm-6">

                    <button class="btn btn-block btn-bitcoin-inversed rounded">
                      <i class="fa fa-shopping-cart"></i> Order Your Septi-Cure Today!
                    </button>
                  
                </div>
            </div>
        </div>

    </div><!--/container-->
    <!-- End Content Part -->